[submodule "Plugins/rclUE"]
	path = Plugins/rclUE
	url = https://github.com/rapyuta-robotics/rclUE.git
[submodule "Plugins/RapyutaSimulationPlugins"]
	path = Plugins/RapyutaSimulationPlugins
	url = https://github.com/rapyuta-robotics/RapyutaSimulationPlugins.git
[submodule "Plugins/RuntimeAudioImporter"]
	path = Plugins/RuntimeAudioImporter
	url = git@gitlab.ub.uni-bielefeld.de:cosy-at-home/RuntimeAudioImporter.git
