[submodule "Plugins/rclUE"]
	path = Plugins/rclUE
	url = git@github.com:nschmitz-00/rclUE.git
[submodule "Plugins/RapyutaSimulationPlugins"]
	path = Plugins/RapyutaSimulationPlugins
	url = git@github.com:nschmitz-00/RapyutaSimulationPlugins.git
